ServicioMonitorImpresion/MonitorImpresion/Service References/ServiceReference1/WSMonitorImpresion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://imprentadesa.ual.es/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://imprentadesa.ual.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Grabar trabajos de impresión en BD</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://imprentadesa.ual.es/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EjecutaSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EjecutaSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EjecutaSQLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="EjecutaSQLSoapIn">
    <wsdl:part name="parameters" element="tns:EjecutaSQL" />
  </wsdl:message>
  <wsdl:message name="EjecutaSQLSoapOut">
    <wsdl:part name="parameters" element="tns:EjecutaSQLResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EjecutaSQLHttpGetIn">
    <wsdl:part name="SQL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EjecutaSQLHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EjecutaSQLHttpPostIn">
    <wsdl:part name="SQL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EjecutaSQLHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="WSMonitorImpresionSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EjecutaSQL">
      <wsdl:input message="tns:EjecutaSQLSoapIn" />
      <wsdl:output message="tns:EjecutaSQLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSMonitorImpresionHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="EjecutaSQL">
      <wsdl:input message="tns:EjecutaSQLHttpGetIn" />
      <wsdl:output message="tns:EjecutaSQLHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSMonitorImpresionHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EjecutaSQL">
      <wsdl:input message="tns:EjecutaSQLHttpPostIn" />
      <wsdl:output message="tns:EjecutaSQLHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSMonitorImpresionSoap" type="tns:WSMonitorImpresionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://imprentadesa.ual.es/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutaSQL">
      <soap:operation soapAction="http://imprentadesa.ual.es/EjecutaSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSMonitorImpresionSoap12" type="tns:WSMonitorImpresionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://imprentadesa.ual.es/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutaSQL">
      <soap12:operation soapAction="http://imprentadesa.ual.es/EjecutaSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSMonitorImpresionHttpGet" type="tns:WSMonitorImpresionHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutaSQL">
      <http:operation location="/EjecutaSQL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSMonitorImpresionHttpPost" type="tns:WSMonitorImpresionHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutaSQL">
      <http:operation location="/EjecutaSQL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSMonitorImpresion">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Grabar trabajos de impresión en BD</wsdl:documentation>
    <wsdl:port name="WSMonitorImpresionSoap" binding="tns:WSMonitorImpresionSoap">
      <soap:address location="http://imprentadesa.ual.es/WSMonitorImpresion.asmx" />
    </wsdl:port>
    <wsdl:port name="WSMonitorImpresionSoap12" binding="tns:WSMonitorImpresionSoap12">
      <soap12:address location="http://imprentadesa.ual.es/WSMonitorImpresion.asmx" />
    </wsdl:port>
    <wsdl:port name="WSMonitorImpresionHttpGet" binding="tns:WSMonitorImpresionHttpGet">
      <http:address location="http://imprentadesa.ual.es/WSMonitorImpresion.asmx" />
    </wsdl:port>
    <wsdl:port name="WSMonitorImpresionHttpPost" binding="tns:WSMonitorImpresionHttpPost">
      <http:address location="http://imprentadesa.ual.es/WSMonitorImpresion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>